<p>register works!</p>
<form (submit)="onSubmit($event)">
  <label for='firstName'>First Name: </label>
  <input type='text' id='firstName' name='firstName'><br />
  <label for='lastName'>Last Name: </label>
  <input type='text' id='lastName' name='lastName'><br />
  <label for='email'>Email: </label>
  <input type='email' id='email' name='email'><br />
  <label for='signPassword'>Password: </label>
  <input type='password' id='signPassword' name='signPassword'><br />
  <button type='submit'>Submit</button>
</form>
